<section class="thirteen columns">
    <h1>Employments</h1>

    <article>
        <header>
            <h1>Ruby on Rails Developer</h1>
            <span><address>Ruby for Good, remote, part-time(as volunteer)</address><time>July 2020 to current</time></span>
        </header>
        <p>
           <a href="https://rubyforgood.org">Ruby for Good</a> - Open source projects for non-profit organizations.
           Contributed to <a href="https://github.com/rubyforgood/casa">Casa</a> - Volunteer management system for nonprofit CASA, which serves foster youth in counties across America..
        </p>
        <ul>
            <li>Developed consumer based features using Ruby on Rails, JavaScript, HTML, CSS, and pair based programming.</li>
            <li>Working in the design and development phases of the application.</li>
            <li>Managed code with Rspec tests and GitHub.</li>
            <li>Developed best practices and architecture.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Ruby on Rails Developer</h1>
            <span><address>Tallinn, Estonia, remote, part-time</address><time>January 2019 to current</time></span>
        </header>
        <p>
            Customer relationship management legacy application. Main language: Ruby 2.5.1 (Ruby on Rails 5.2 framework). PostgreSQL.
        </p>
        <ul>
            <li>Support legacy application.</li>
            <li>identity bottlenecks and bugs, and devise solutions to these problems.</li>
            <li>Developing features using Ruby on Rails, HTML, CSS and JavaScript.</li>
            <li>Support product migration and platform upgrades.</li>
            <li>Analyzing the system requirements specifications and also involved in product owner interaction during requirement specifications.</li>
            <li>Responsible for developing report management tools.</li>
            <li>Working on implementing Bug Reporting Feature to allow customers to create reports about bugs directly to Redmine APIs.</li>
            <li>Integrating third-party SOAP and rest APIs with web application(Stripe, Redmine, eSign Genie etc.).</li>
            <li>Communicating directly with clients to help define features/user stories.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Ruby on Rails Developer</h1>
            <span><address>freelance, remote</address><time>December 2017 to January 2021</time></span>
        </header>
        <p>
          Main language: Ruby (Ruby on Rails framework).
        </p>
        <ul>
            <li>A wide range of tasks on various projects.</li>
            <li>Development with Rails, test coverage, deployment and maintenance.</li>
            <li>Worked from idea to deployment.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Ruby Backend Developer</h1>
            <span><address>Boston, Massachusetts, remote</address><time>December 2015 to December 2017</time></span>
        </header>
        <p>
            TDD with Rspec, BDD with Capybara. Main language: Pure Ruby.
        </p>
        <ul>
            <li>Migrated large Ruby 2.1.2 code base to Ruby 2.4 and rewrote confusing and under-documented parts.</li>
            <li>Refactoring, optimizing and implementing new features.</li>
            <li>Participated in code reviews.</li>
            <li>Managed code with Rspec tests.</li>
            <li>Developed various APIs.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Junior Ruby on Rails Developer</h1>
            <span><address>Kursk, Russia, remote</address><time>May 2014 to October 2015</time></span>
        </header>
        <p>
            Capistrano deploy scripts to PaaS (Heroku/Locum). Main language: Ruby (Ruby on Rails framework).
        </p>
        <ul>
            <li>Supported existed products.</li>
            <li>Worked from idea to deployment.</li>
            <li>Experienced with multiple 3rd party service integrations including Braintree, Google maps.</li>
            <li>Setup and configured automated deployment and scaling infrastructure on Digital Ocean.</li>
        </ul>
    </article>

    <article>
        <header>
            <h1>Drupal Developer</h1>
            <span><address>Kremenchug, Ukraine, remote</address><time>February 2012 to May 2014</time></span>
        </header>
        <ul>
            <li>Supported existed products.</li>
            <li>Developed and maintained Drupal web applications.</li>
        </ul>
    </article>
</section>
