<section class="thirteen columns">
    <h1>Professional summary</h1>
    <article>
        <p>
            <em>Back-end developer with 9+ years in
                IT background and 5 years in development. I am a programmer
                polyglot always eager to learn new technologies. Most recently I've been
                working with Ruby and JavaScript and now curious about Go and DevOps/System Administration. Problem solver,
                result-oriented and self-starter. Comfortable working remotely with
                teammates. But I can also work independently on a given task or project. Proven multitasking ability.
            </em>
        </p>
    </article>
</section>
