<section class="thirteen columns">
    <h1>Professional summary</h1>
    <article>
        <p>
            <em>
                Experienced back-end developer with 9+ years in
                IT background and 7 years in development. I am a programmer
                polyglot always eager to learn new technologies. Most recently I've been
                working with Ruby and JS and now curious about Go and DevOps/System Administration. Problem solver,
                result-oriented and self-starter. Comfortable working remotely with
                teammates. Proven multitasking ability. I have accuracy, consistency, punctuality skills.
            </em>
        </p>
    </article>
</section>
